<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openform()">Open Form</button>
    <h1>{{ 'Nilai a : ' + a }}</h1>
    <h1>{{'Rata-rata : ' + avg }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0 ,
        avg : 0 ,
      },
      methods : {
          openform : function (){
            let jumlah = 0
            let count = 0
            parseInt(jumlah)
            while (jumlah <= 10) {
              let nilai = prompt("Masukkan nilai a")
              jumlah = jumlah + parseInt(nilai)
              count++
            }
              this.a = jumlah
              this.avg = jumlah/count
          }
      }
  })
  </script>
</body>
</html>