<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>  
    <div id="app">
        <form v-if="!output">
            <input type="text" name="" v-model="nama" placeholder="masukan nama">
            <input type="submit" name="" value="add" @click.prevent="add">
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
     var vm = new Vue({
      el: 'container',
      data () {
        return {
            users : [
            {'name' : 'Muhammad Iqbal Mubarok',
            },
            {'name' : 'Ruby Purwanti',
            },
            {'name' : 'Faqih Muhammad',
            },
            ],
        }
      },
     methods : {
        submit : function (){
            this.users.push
        }
      }
  })
  </script>
</body>
</html>