<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

</head>
<body>
<div id="app">
   <div class="panel panel-default">
   <div class="panel-heading">
         <strong> All books</strong></div>
            <div class="row">
                 <div class="search-wrapper panel-heading col-sm-12">
                     <input class="form-control" type="text" v-model="searchQuery" placeholder="Search" />
                </div>                        
            </div>
        <div class="table-responsive">
            <table v-if="books.length" class="table">
                <thead>
                    <tr>
                         <th>Books</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in resultQuery">
                        <td><a v-bind:href="item.uri" target="_blank">{{item.title}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
   </div>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script>
       new Vue({
  el: '#app',
  data() {
    return {
        searchQuery: null,
        books:[
            {title:"● Kalkulus Dasar"},
            {title:"● Fisika Dasar"},
            {title:"● Aljabar Linear Elementer"},
            {title:"● Aljabar Abstrak"},
            {title:"● Algoritma Pemograman"},
        ]
    };
  },
  computed: {
    resultQuery(){
      if(this.searchQuery){
      return this.books.filter((item)=>{
        return this.searchQuery.toLowerCase().split(' ').every(v => item.title.toLowerCase().includes(v))
      })
      }else{
        return this.books;
      }
    }
  }
 

})

   </script>
</body>
</html>